@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --black: #000000;
  --foreground: #ffffff;
  --font-inter: "Inter", sans-serif;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ffffff;
    --black: #000000;
    --foreground: #ffffff;
    --font-inter: "Inter", sans-serif;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-inter);
  color: var(--black);
}
